boto3==1.9.183
empyrical==0.5.0
pyre-check==0.0.27
pytest==4.6.3
pyti==0.2.2
safety==1.8.5
sklearn==0.0
ta==0.5.6
TA-Lib==0.4.17
tabulate==0.8.3
tox==3.13.2
pylint==2.3.1
pyre-check==0.0.27
pytest==4.6.3
pyti==0.2.2
safety==1.8.5
yapf==0.27.0