boto3==1.14.58
empyrical==0.5.0
pyre-check==0.0.39
pytest==4.6.3
pyti==0.2.2
safety==1.8.7
sklearn==0.0
ta==0.5.22
TA-Lib==0.4.17
tabulate==0.8.3
tox==3.13.2
pylint==2.3.1
pyre-check==0.0.39
pytest==4.6.3
pyti==0.2.2
safety==1.8.7
yapf==0.27.0